.t-icon{
    color: rgba(29,161,242,1.00);
    height: 39px;
    max-width: 100%;
    fill: currentcolor;
    display: inline-block;
    position: relative;
    vertical-align: text-bottom;
} 